Labor2/Aufgabe1.2/textformat.dtd

<!ELEMENT dokument (ueberschrift, absatz+, leerzeile?)>
        <!ELEMENT ueberschrift (#PCDATA)>
        <!ELEMENT absatz (fett|kursiv|normal)*>
        <!ELEMENT leerzeile EMPTY>

        <!ELEMENT fett (#PCDATA)>
        <!ELEMENT kursiv (#PCDATA)>
        <!ELEMENT normal (#PCDATA)>
        <!ENTITY nbsp "&#160;">
